<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20" >
            <div class="col-md-6 offset-md-3">
                <mat-card class="mat-elevation-z20" style="border-radius: 5px;">
                    <div class="container text-center">
                        <img class="img-fluid img-css " src="../../assets/signup/regi.png" alt="">
                    </div>
                    <h1 class="text-center">REGISTER HERE!!</h1>
                    <hr>
                    <!-- {{user | json}}  <br><br> -->
                    <form #loginForm="ngForm" (ngSubmit)="formSubmit()">
                        <div class="row">
                            <!-- Full Name Field-->
                            <div class="form-group col-sm-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>FULL NAME</mat-label>
                                    <input 
                                        [(ngModel)]="user.name"   
                                        name="name"  required
                                        matInput placeholder="Enter here"
                                    />
                                    <mat-icon matSuffix>badge</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <!-- Account No. Field-->
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>ACCOUNT NUMBER</mat-label>
                                    <input 
                                        [(ngModel)]="user.accno" 
                                        name="accno"  required                
                                        matInput placeholder="Enter here"
                                    />
                                    <mat-icon matSuffix>account_balance</mat-icon>
                                </mat-form-field>
                            </div>
                            <!-- Phone No. Field-->
                            <div class="form-group col-sm-6">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>PHONE NUMBER</mat-label>
                                    <input 
                                        [(ngModel)]="user.phone" 
                                        name="phone"  required
                                        type="number" matInput placeholder="Enter here"
                                    />
                                    <mat-icon matSuffix>phone</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Email Field-->
                            <div class="form-group col-sm-6">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>EMAIL ADDRESS</mat-label>
                                    <input 
                                        [(ngModel)]="user.email"   
                                        name="email" required
                                        type="email" matInput 
                                        placeholder="abc@gmail.com"
                                    />
                                    <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>
                            </div>
                            <!-- Address Field-->
                            <div class="form-group col-sm-6">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>ADDRESS</mat-label>
                                    <input 
                                        [(ngModel)]="user.address" 
                                        name="address"  required                
                                        matInput placeholder="Enter here"  
                                    />
                                    <mat-icon matSuffix>home</mat-icon>
                                </mat-form-field>
                            </div> 
                        </div>

                        
                        <div class="row">
                            <!-- Username Field-->
                            <div class="form-group col-sm-6">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>USER NAME</mat-label>
                                    <input 
                                        [(ngModel)]="user.username"   
                                        name="username"  required                
                                        matInput placeholder="Enter here"
                                    />
                                    <mat-icon matSuffix>account_box</mat-icon>
                                    <mat-hint>Username must be unique</mat-hint>
                                </mat-form-field>    
                            </div>
                            <!-- Password Field-->
                            <div class="form-group col-sm-6">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>USER PASSWORD</mat-label>
                                    <input 
                                        [(ngModel)]="user.password"   
                                        name="password1" required
                                        type="password" matInput 
                                        placeholder="Enter here" 
                                        [type]="hide ? 'password' : 'text'"
                                    />
                                    <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </a>
                                    <mat-hint>Create a new Password (atleast 6 characters)</mat-hint>
                                </mat-form-field>
                            </div>
                            <!--<div class="form-group col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>CONFIRM PASSWORD</mat-label>
                                    <input 
                                        [(ngModel)]="user.password2" 
                                        name="password2" required
                                        type="password" matInput 
                                        placeholder="Enter here" 
                                        [type]="hide ? 'password' : 'text'"
                                        ngClass="{ 'is-invalid': submitted && f.password1.errors }"
                                    />
                                    <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </a>
                                </mat-form-field>
                            </div>-->
                        </div><br>

                        <div class="form-row form-check">
                            <div class="form-group col-sm-12">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" required />
                                <label class="form-check-label" for="exampleCheck1">
                                    I agree to the <a routerLink>Privacy Policies</a>
                                </label>
                            </div>
                        </div>

                        <hr>

                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <div class="container text-center btn-group w-100 p-0">
                                    <button type="submit" mat-raised-button color="primary" class="w-50 p-1"[disabled]="loginForm.invalid"> 
                                        SIGNUP 
                                    </button>
                                    <button type="reset" class="ml20" mat-raised-button color="accent" style="width: 50%; padding: 1px;"> 
                                        RESET
                                    </button>
                                </div>
                            </div><br>
                       
                            <div class="form-group col-sm-12">
                                <h3>Already Registered?
                                    <a [routerLink]="'/signin'">Login here..</a>
                                </h3>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>