<div class="box-width">
  <mat-toolbar style="background-color: #FFC0CB; color: #28282B;font-size: 220%;" class="mat-elevation-z8">
    <span class="title-center">PAYMENT SCHEDULE</span>
  </mat-toolbar>
  
    <mat-card class="mat-elevation-z8">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 1001" #input>
      </mat-form-field>
  
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">SR.NO.</th>
              <th scope="col">PAYMENT DATE</th>
              <th scope="col">PRINCIPAL</th>
              <th scope="col">PROJECTED INTEREST</th>
              <th scope="col">PAYMENT STATUS</th>
              <th scope="col">PAYMENT AMOUNT</th>
              <th scope="col">PAY</th>
            </tr>
          </thead>
  
          <mat-spinner *ngIf="spin"></mat-spinner>
  
          <tbody *ngIf="!spin">
            <tr *ngFor="let payment of payments; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td style="display:none;">{{ payment.paymentId }}</td>
              <td>{{ payment.paymentDate }}</td>
              <td>{{ payment.principal | number }}</td>
              <td>{{ payment.projectedInterest | number }}</td>
              <td>
                <span [ngClass]="getClass(payment.paymentStatus)">{{ payment.paymentStatus}}</span>
              </td>
              <td>{{ payment.paymentAmount | number }}</td>
              <td>
                <button 
                  class="btn btn-primary" 
                  [disabled]="payment.paymentStatus == 'PAID'"
                  (click)="changePaymentStatus($event,payment.paymentId)">
                  PAY
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </mat-card>
  </div>
  <br><br><br><br><br>