<mat-card>
    <mat-action-list>
        <div mat-subheader>MENU</div>

        <button mat-list-item routerLink = "/admin-dashboard">
            <mat-icon class="mr10">home</mat-icon> 
            HOME
        </button>

        <button mat-list-item routerLink = "profile">
            <mat-icon class="mr10">account_circle</mat-icon> 
            PROFILE
        </button>

        <button mat-list-item routerLink = "/admin-dashboard">
            <mat-icon class="mr10">list</mat-icon> 
            CATEGORIES
        </button>

        <!-- <button mat-list-item routerLink = "profile">
            <mat-icon class="mr10">add_circle_ouline</mat-icon> 
            ADD CATEGORIES
        </button> -->

        <button (click) = "logout()"  mat-list-item routerLink = "profile">
            <mat-icon class="mr10">logout</mat-icon> 
            LOGOUT
        </button>

    </mat-action-list>
</mat-card>