
/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  th{
    font-weight: bold;
    grid-column: auto;
  }
  
  .box-width{
    max-width: 100%;
    margin: auto;
  }
  
  .title-center {
    margin: 0 auto;
  }